# CODEOWNERS
#
# Each line maps a domain of src/capymoa to its maintainer.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/src/capymoa/classifier/  @hmgomes
/notebooks/classifier/ @hmgomes

/src/capymoa/drift/       @vcerqueira
/notebooks/drift/      @vcerqueira

/src/capymoa/regressor/   @YibinSun @nuwangunasekara
/notebooks/regressor/  @YibinSun @nuwangunasekara

/src/capymoa/cluster/     @cassales
/notebooks/clusterer/  @cassales

/src/capymoa/anomaly/     @justinuliu
/notebooks/anomaly/    @justinuliu

/src/capymoa/ocl/         @tachyonicClock @nuwangunasekara
/notebooks/ocl/        @tachyonicClock @nuwangunasekara

/src/capymoa/ssl/         @tachyonicClock
/notebooks/ssl/        @tachyonicClock

/src/capymoa/automl/      @hmgomes
/notebooks/automl/     @hmgomes

/src/capymoa/uncertainty/ @YibinSun
/notebooks/uncertainty/ @YibinSun

/src/capymoa/feature/     @hmgomes
/notebooks/feature/    @hmgomes

/notebooks/common/     @tachyonicClock @hmgomes
