/* make citations muted and smaller */
.citation, .footnote {
    font-size: var(--pst-font-size-milli);
    font-weight: var(--pst-font-weight-caption);
    color: var(--pst-color-text-muted);
    font-style: italic;
}

/* add horizontal rule */
.citation-list, .footnote-list {
    margin-top: var(--pst-font-size-base);
    margin-bottom: var(--pst-font-size-base);
    padding-top: var(--pst-font-size-base);
    border-top: 1px solid var(--pst-color-border);
}
