name: Docker
on:
  workflow_dispatch:
  workflow_call:
jobs:
  buildx:
    name: Build & Publish
    environment: release
    runs-on: ubuntu-latest
    env:
      DOCKER_TAG: ${{ github.sha }}
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v4
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      # Load docker/.env file. The weird syntax is because we need to append the
      # CAPYMOA_VERSION to the GITHUB_ENV and we need to strip quotes from the
      # value
      - 
        name: Load .env
        run: |
          source docker/.env &&
          echo CAPYMOA_VERSION=$CAPYMOA_VERSION >> $GITHUB_ENV

      - name: Tagged latest?
        # If we are on the master head we can tag it as latest. Otherwise we will 
        # use the commit sha
        run: echo "DOCKER_TAG=latest" >> $GITHUB_ENV
        if: github.ref == 'refs/heads/main'
      
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          file: docker/dockerfile
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/jupyter-capymoa:${{ env.DOCKER_TAG }},
            ${{ secrets.DOCKERHUB_USERNAME }}/jupyter-capymoa:${{ env.CAPYMOA_VERSION }}
          build-args: CAPYMOA_VERSION=${{ env.CAPYMOA_VERSION }}

